@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}


h1 {
    font-size: 2rem;
    font-weight: 600;
    color: #ffffff;
}

p {
    font-size: 1.5rem;
    font-weight: 500;
    color: #ffffff;
}
html, body { 
    height: 100%; 
    
}

.header, .footer {
    background-color: black;
    color: white;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
}

.nav-list {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 20px;
}

.main {
    display: flex;
    justify-content: center;
        margin: 50px 0 50px 0;

}

.main-text {
    font-size: 18px;
    font-weight: 400;
    color: #000;
}

.cards {
    margin: 50px 0 50px 0;
    display: flex;
    justify-content: center;
}
.card-price{
    color: #000;
}